.section-title {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0;
    margin-bottom: 32px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #000;
        display: inline-block;
    }

    @media screen and (min-width: 768px) {
        font-size: 44px;
        line-height: 54px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 54px;
    }

}

.section-about__lable {
    margin-top: 0;
    margin-bottom: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        font-size: 22px;
        line-height: 27px;
    }
}

.justify-about {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 54px;
        align-items: center;
    }
}