.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-backgroud;
    opacity: 1;
    transition: opacity 300ms linear;
    z-index: 10;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}





.modal-wrapper {     

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: $modal-color;  
    
    
        @include for-size(phone) {
            max-width: 272px; 
            min-height: 357px;
            padding-top: 28px;
            padding-right: 16px;
            padding-bottom: 28px;
            padding-left: 16px;
        }

        @include for-size(tablet) {
            max-width: 480px;
            width: 100%;    
            min-height: 505px;        
            padding-top: 48px;
            padding-right: 32px;
            padding-bottom: 48px;
            padding-left: 32px;
        }

    &__svg {
        width: 12px;
        height: 12px;
        top: 19px;
        right: 19px;
        fill: $main-font-color;

        @include for-size(tablet) {
            width: 16px;
            height: 16px;
            
        }
    }

    &__caption {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2em;
        margin: 0;
        display: inline-block;
        margin-bottom: 14px;
        color: $main-font-color;
        
        @include for-size(tablet) {
            font-weight: 600;
            font-size: 32px;
            margin-bottom: 32px;
        }
    }

    &__content {
        margin: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25em;
        margin-bottom: 18px;
        color: $font-sub-color;

        @include for-size(tablet) {
            font-size: 16px;
            margin-bottom: 32px;
        }
    }

    &__button {
        
        background-color: $main-theme-color-unfocused;
        width:100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2em;
        text-align: center;
        color: $main-white;
        cursor: pointer;

        @include for-size(tablet) {
            font-size: 18px;;
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }

}

.modal-gratitude {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: $modal-color;
    text-align: center;      
    
        @include for-size(phone) {
            max-width: 272px;
            width: 100%; 
            min-height: 357px;
            padding-top: 44px;
            padding-right: 42px;
            padding-bottom: 32px;
            padding-left: 42px;
        }

        @include for-size(tablet) {
            max-width: 480px;
            width: 100%;          
            padding-top: 54px;
            padding-right: 57px;
            padding-bottom: 54px;
            padding-left: 57px;
        }

        &__svg {
            width: 12px;
            height: 12px;
            position: absolute;
            top: 19px;
            right: 19px;
            fill: $main-font-color;
    
            @include for-size(tablet) {
                width: 16px;
                height: 16px;
                top: 28px;
                right: 28px;
            }
        }
    
    &__background {
        margin-left: auto;
        margin-right: auto;
        width: 188px;
        height: 142px;
        display: inline-block;
        margin-bottom: 16px;

        @include for-size(tablet) {
            width: 367px;
            height: 202px;
        }
    }

    &__caption {
        margin: 0; 
        margin-bottom: 14px;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2em;
        color: $main-font-color;

        @include for-size(tablet) {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 32px;
        }
    }

    &__content {
        margin: 0;
        margin-bottom:18px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25em;
        color: $font-sub-color;

        @include for-size(tablet) {
            margin-bottom: 34px;
            font-size: 16px;
            margin-bottom: 32px;
        }
    }

    &__button {
        background-color: $main-theme-color;
        width:100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.2em;
        text-align: center;
        color: $main-white;
        cursor: pointer;

        @include for-size(tablet) {
            font-size: 18px;;
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }
}

.visually-hidden {
    display: none;
}


.modal-close {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 19px;

    @include for-size(tablet) {
        top: 28px;
        right: 28px;
        font-size: 18px;
    }

}

.name-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    @include for-size(tablet) {
        margin-bottom: 24px;
    }

    &__title {
        font-weight: 500;
        font-size: 10px;
        line-height: 1.2em;
        color: $font-sub-color;
        margin-bottom: 8px;
        

        @include for-size(tablet) {
            font-size: 16px;
        }
    }

    &__input {
        border-color: $grey-scale;
        border-radius: 4px;
        height: 35px;
        padding: 10px 12px;
        font-size: 12px;
        line-height: 1.25em;

        @include for-size(tablet) {
            height: 49px;
            padding: 16px;
            font-size: 14px;
        }   

        &:focus {
            outline: none;
        }
    }
}

.name-label__input {

    &:invalid{
        border-color: red;
    }

}

.mail-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    @include for-size(tablet) {
        margin-bottom: 38px;
    }

    &__title {
        font-weight: 500;
        font-size: 10px;
        line-height: 1.2em;
        color: $font-sub-color;
        margin-bottom: 8px;

        @include for-size(tablet) {
            font-size: 16px;
        }
    }

    &__input {
        border-color: $grey-scale;
        border-radius: 4px;
        height: 35px;
        padding: 10px 12px;
        font-size: 12px;
        line-height: 1.25em;

            @include for-size(tablet) {
            height: 49px;
            padding: 16px;
            font-size: 14px;

        }   

        &:focus{ 
            outline: none            
        }
    }    
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
  
    & .path {
      stroke: #e86f54;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

.mail-label__input {

    &:invalid{
        border-color: red;
    }

}

.modal-wrapper:focus-within {

    .modal-wrapper__button{
        background-color: $main-theme-color;
    }

}