.store {
  &__title {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-bottom: 32px;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29 / 24);

    color: #000000;

    @media (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 44px;
      line-height: calc(54 / 44);
    }
    @media (min-width: 768px) {
      margin-bottom: 80px;
    }
  }
  &__title::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #000000;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;

    @media (min-width: 768px) {
      gap: 32px;
      margin-bottom: 60px;
    }
  }
  &__item {
    width: calc((100% - 16px * 1) / 2);
    height: 100%;
    @media (min-width: 768px) {
      width: calc((100% - 32px * 1) / 2);
    }
  }
  
  &__text {
    margin-top: 12px;
    margin-bottom: 6px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20 / 16);
    white-space: nowrap;

    color: #000000;
    @media (min-width: 768px) {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 8px;

      font-size: 32px;
      line-height: calc(39 / 32);

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #000000;
      }
    }
    @media (min-width: 1280px) {
      gap: 16px;
      margin-bottom: 4px;

      font-size: 36px;
      line-height: calc(44 / 36);
    }
  }
  &__price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);

    color: #000000;
    opacity: 0.6;

    @media (min-width: 768px) {
      font-size: 24px;
      line-height: calc(29 / 24);
    }
    @media (min-width: 1280px) {
      font-size: 28px;
      line-height: calc(34 / 28);
    }
  }
}
