<section class="section section-about">
    <div class="container container-about">
        <h2 class="section-title">about</h2>
        <div class="justify-about">
            <p class="section-about__lable">We are a minimalistic flower studio. We love people and flowers.
                Therefore, every day we give people
                the
                beauty and joy
                creating stylish and modern masterpieces. Every bouquet we create is unique as you are.</p>
            <img class="section-about__image"
                srcset="./images/about/image_about_288.jpg 288w, ./images/about/image_about_576.jpg 576w, ./images/about/image_about_344.jpg 344w, ./images/about/image_about_688.jpg 688w, ./images/about/image_about_632.jpg 632w, ./images/about/image_about_1264.jpg 1264w"
                sizes="(min-width: 1200px) 632px, (min-width: 768px) 344px, (min-width: 320) 288px, 100vw"
                src="./images/about/image_about_1896.jpg" alt="orange flowers" width="288" />
        </div>
    </div>
</section>