<section class="section section-delivery">
    <div class="container container-delivery">
        <h2 class="section-title delivery">DELIVERY</h2>
        <ol class="delivery-list">
            <li class="delivery-list__item"><span class="delivery-list__nomber">1</span>Choose your bouquet and make
                an order on website</li>
            <li class="delivery-list__item"><span class="delivery-list__nomber">2</span>Wait for the call to clarify
                the details of the order.
                You can pay online or to the courier</li>
            <li class="delivery-list__item"><span class="delivery-list__nomber">3</span>Wait for the delivery at the
                selected time or pick up
                the order from the store</li>
            <li class="delivery-list__item"><span class="delivery-list__nomber">4</span>Make someone happy or enjoy
                yourself</li>
        </ol>
    </div>
    <img class="section-delivery__image"
        srcset="./images/delivery-mobile@1x.jpg 320w, ./images/delivery-mobile@2x.jpg 640w, ./images/delivery-tablet@1x.jpg 768w, ./images/delivery-tablet@2x.jpg 1536w, ./images/delivery-desktop@1x.jpg 1280w, ./images/delivery-desktop@2x.jpg 2560w"
        sizes="(min-width: 1200px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
        src="./images/delivery-tablet@2x.jpg" alt="orange flowers" />
</section>