<section class="store container" id="store">
    <h2 class="store__title">
        STORE
    </h2>
    <ul class="store__list">
        <li class="store__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                              ./images/store1-destop@1x.jpg 1x,
                                                              ./images/store1-destop@2x.jpg 2x
                                                            " type="image/jpg" />

                <source media="(min-width: 768px)" srcset="
                                                              ./images/store1-tablet@1x.jpg  1x,
                                                              ./images/store1-tablet@2x.jpg  2x
                                                            " type="image/jpg" />
                <source media="(max-width: 480px)" srcset="
                                                              ./images/store1-mobile@1x.jpg  1x,
                                                              ./images/store1-mobile@2x.jpg  2x
                                                            " type="image/jpg" />

                <img srcset="
                                                              ./images/store1-mobile@1x.jpg  1x,
                                                              ./images/store1-mobile@2x.jpg  2x
                                                            " src="./images/store1-mobile@1x.jpg"
                    alt="Фото букет 'Комплімент'" />
            </picture>
            <h3 class="store__text">compliments</h3>
            <span class="store__price">from $15</span>
        </li>
        <li class="store__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                              ./images/store2-destop@1x.jpg 1x,
                                                              ./images/store2-destop@2x.jpg 2x
                                                            " type="image/jpg" />

                <source media="(min-width: 768px)" srcset="
                                                              ./images/store2-tablet@1x.jpg  1x,
                                                              ./images/store2-tablet@2x.jpg  2x
                                                            " type="image/jpg" />
                <source media="(max-width: 480px)" srcset="
                                                              ./images/store2-mobile@1x.jpg  1x,
                                                              ./images/store2-mobile@2x.jpg  2x
                                                            " type="image/jpg" />
                <img srcset="
                                                              ./images/store2-mobile@1x.jpg  1x,
                                                              ./images/store2-mobile@2x.jpg  2x
                                                            " src="./images/store2-mobile@1x.jpg"
                    alt="Фото букет, розмір S" />
            </picture>
            <h3 class="store__text">bouquets size S</h3>
            <span class="store__price">from $25</span>
        </li>
        <li class="store__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                              ./images/store3-destop@1x.jpg 1x,
                                                              ./images/store3-destop@2x.jpg 2x
                                                            " type="image/jpg" />

                <source media="(min-width: 768px)" srcset="
                                                              ./images/store3-tablet@1x.jpg  1x,
                                                              ./images/store3-tablet@2x.jpg  2x
                                                            " type="image/jpg" />
                <source media="(max-width: 480px)" srcset="
                                                              ./images/store3-mobile@1x.jpg  1x,
                                                              ./images/store3-mobile@2x.jpg  2x
                                                            " type="image/jpg" />
                <img srcset="
                                                              ./images/store3-mobile@1x.jpg  1x,
                                                              ./images/store3-mobile@2x.jpg  2x
                                                            " src="./images/store3-mobile@1x.jpg"
                    alt="Фото букет розмір M" />
            </picture>
            <h3 class="store__text">bouquets size M</h3>
            <span class="store__price">from $45</span>
        </li>
        <li class="store__item">
            <picture>
                <source media="(min-width: 1280px)" srcset="
                                                              ./images/store4-destop@1x.jpg 1x,
                                                              ./images/store4-destop@2x.jpg 2x
                                                            " type="image/jpg" />

                <source media="(min-width: 768px)" srcset="
                                                              ./images/store4-tablet@1x.jpg  1x,
                                                              ./images/store4-tablet@2x.jpg  2x
                                                            " type="image/jpg" />
                <source media="(max-width: 480px)" srcset="
                                                              ./images/store4-mobile@1x.jpg  1x,
                                                              ./images/store4-mobile@2x.jpg  2x
                                                            " type="image/jpg" />
                <img srcset="
                                                              ./images/store4-mobile@1x.jpg  1x,
                                                              ./images/store4-mobile@2x.jpg  2x
                                                            " src="./images/store4-mobile@1x.jpg"
                    alt="Фото букет розмір L" />
            </picture>
            <h3 class="store__text">bouquets size L</h3>
            <span class="store__price">from $60 </span>
        </li>
    </ul>
    <button class="button button--order" data-modal-open>
        Order flowers
    </button>
</section>

